body{
    background: #b6b6b6;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.app-top-section{
    text-align: left;
    display: flex;
    height: 50px;
    width: auto;
    size: 20px;
    border-radius: 10px;
}

img{
    margin-top: 5px;
}
.msg-box {
    max-width: auto;
    margin: 20px auto;
    background: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 500px;
    position: relative;
}

.messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
}


form {
    display: flex;
    gap: 10px;
    margin-top: auto;;
}


#msg-input {
    flex: 1;
    padding: 8px;
    border: 2px solid #575757;
    border-radius: 6px;
    font-size: 15px;
}

form {
    display: flex;
    gap: 10px;
}

button[type="submit"] {
    background: #2e74f6;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 4px 8px;
    font-size: 30px;
    cursor: pointer;
}


button:hover
{
    background: #1951ba;
}
