body {
  background: #e6e6e6;
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.app-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background: #e5eeff;
  border-radius: 12px;
  border: 1px solid rgb(175, 175, 175);
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  background: #dadada;
  border-bottom: 2px solid grey;
}

.app-info {
  display: flex;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  gap: 10px;
}

.app-menu {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  gap: 20px;
  font-size: 30px;
}

.app-menu p {
  font: 22px;
  color: #000000;
}

/* icon */
img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

.chat-name{
  font-size: 18px;
  padding: 10px;
  border-bottom: 2px dashed rgb(167, 167, 167) ;
  background: #dadada;
}

.chat-box{
      display: flex;
      flex-direction: column;
      min-height: 320px;
}


.msg{
    padding: 10px 15px;
    max-width: 70%;
    font-size: 15px;
}

.receiver {
    display: flex;
    align-self: flex-start;
    margin: 10px 5px;

}

.user-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #aaaaaa;
    margin: 0 5px;
}
.msg-left {
    border-radius: 20px 20px 20px 0;
    background-color: #e0e0e0;
}

.sender {
    display: flex;
    align-self: flex-end;
    margin-right: 10px 3px;
  }

.msg-right {
    border-radius: 20px 20px 0px 20px;
    background-color: #4f92ff;
}

    .msg-time {
      color: #3f3f3f;
      font-size: 12px;
      margin: 0 5px;
      align-self: flex-end;
    }

.msg-box {
  background: #ededed;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  margin: auto;
  max-width: 490px;
  align-items: center;
    box-shadow: 0 2px 8px rgba(141, 141, 141, 0.5);


}

form {
  display: flex;
  gap: 10px;
  width: 98%;
}

#msg-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #9c9c9c;
  border-radius: 25px;
  font-size: 15px;
}

/* Send button */
button[type="submit"] {
  background: #2e77ff;
  color: #fff;
  border: none;
  border-radius: 40px;
  padding: 4px 8px;
  font-size: 30px;
  cursor: pointer;
}

button:hover {
  background: #1951ba;
}
